{% comment %}
This appears when we click on "Definitions and Tips" button on the Learning agenda question dashboard.
{% endcomment %}
<div class="usa-accordion usa-accordion--bordered padding-top-5">
    <div class="usa-accordion padding-bottom-2">
        <div class="usa-accordion__heading">
          <button type="button" class="usa-accordion__button ogp-accordion" aria-expanded="false" aria-controls="a1">
            FAQs about the Learning Agenda Questions Dashboard
          </button>
        </div>
        <div id="a1" class="usa-accordion__content">
            {% assign faq_abt_learning = site.data.faq-about-the-learning-agenda %}
            {% for faq_item in faq_abt_learning %}
                <div class="usa-media-block tablet:grid-col-12 display-block">
                    <h2 class="faqs-question">{{faq_item.faq}}</h2>
                </div>
                <div class="usa-media-block tablet:grid-col-12 display-block">
                    <p class="text-left">{{faq_item.answer}}</p>
                </div>
                {% if faq_item.bullets %}
                    <ul>
                        {% for each_bullet in faq_item.bullets %}
                            <li>{{each_bullet.bullet}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="usa-accordion padding-buttom-05">
        <div class="usa-accordion__heading">
          <button type="button" class="usa-accordion__button ogp-accordion" aria-expanded="false" aria-controls="a2">
            Definitions of Topic and Focus Areas
          </button>
        </div>
        <div id="a2" class="usa-accordion__content usa-prose">
            {% assign def_and_tips_data = site.data.faqs-and-definitions %}
            {% for def_and_tip in def_and_tips_data %}
                <div class="usa-media-block tablet:grid-col-12 display-block">
                    <h2 class="dashboard-header text-center">{{def_and_tip.name}}</h2>
                </div>
                {% for each_tag in def_and_tip.tags %}
                    <div class="grid-row">
                        <div class="usa-media-block tablet:grid-col-3 display-block">
                            <p><b>{{each_tag.tag}}</b></p>
                        </div>
                        <div class="usa-media-block tablet:grid-col-9 display-block">
                            <p>{{each_tag.definition}}</p>
                            {% if each_tag.bullets %}
                                <ul>
                                    {% for each_bullet in each_tag.bullets %}
                                        <li>{{each_bullet.bullet}}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

