<footer class="usa-footer usa-footer--slim">
  <div class="usa-footer__primary-section">
    <div class="usa-footer__primary-container">
      <div class="tablet:grid-col-12">
        <nav class="usa-footer__nav" aria-label="Footer navigation top">
          <ul class="grid-row grid-gap-12">
            <li class="mobile-lg:grid-col-6 desktop:grid-col-4 usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="javascript:void(0);">About the Site</a>
            </li>
            <li class="mobile-lg:grid-col-6 desktop:grid-col-4 usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="javascript:void(0);">FAQS</a>
            </li>
            <li class="mobile-lg:grid-col-6 desktop:grid-col-4 usa-footer__primary-content">
              <div class="usa-footer__primary-link">Contact Us:
                <br>
                <a class="text-accent-cool" href="mailto:evidence@omb.eop.gov">evidence@omb.eop.gov</a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="usa-footer__primary-container">
        <div class="tablet:grid-col-12">
          <nav class="usa-footer__nav" aria-label="Footer navigation bottom">
            <div class="grid-row grid-gap-12">
              <div class="mobile-lg:grid-col-4 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">RELATED SITES</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="https://performance.gov">Performance.gov</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://stategy.data.gov">Stategy.data.gov</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://resources.data.gov">Resources.data.gov</a></li>
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Evidence and Evaluation Community</a></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-4 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">RELATED COUNCILS</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="https://www.cdo.gov">CDO Council</a></li>
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">ICSP</a></li>
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">FCSM</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://www.cio.gov">CIO Council</a></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-4 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <div class="usa-footer__primary-link padding-top-3"> </div>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      {%- assign gsa="/assets/images/logo-gsa.png"-%}
                      <img class="height-3 width-3 margin-right-05 margin-bottom-4" alt="GSA logo" src="{{site.baseurl}}{{-gsa-}}"> 
                      <span>General Services Administration</span>
                    </li>
                    <li class="usa-footer__secondary-link">
                      {%- assign omb="/assets/images/logo-omb.png"-%}
                      <img class="height-3 width-3 margin-right-05 margin-bottom-4" alt="Office of Management and Budget logo" src="{{site.baseurl}}{{-omb-}}">
                      <span>Office of Management and Budget</span>
                    </li>
                  </ul>
                </section>
              </div>
            </div>
          </nav>
        </div>
      </div>

  </div>
</footer>