<footer class="usa-footer usa-footer--big">
  <div class="grid-container margin-top-2 margin-bottom-2">
    <div class="grid-row flex-align-start flex-justify">
      <a href="#" class="usa-button usa-button--outline border-0">Return to top</a>
    </div>
  </div>
  <div class="usa-footer__primary-section bg-base-lightest">
    <div class="usa-footer__primary-container">
      <div class="tablet:grid-col-12">
        <nav class="usa-footer__nav" aria-label="Footer navigation top">
          <div class="grid-row grid-gap-12">
            <div class="mobile-lg:grid-col-4 desktop:grid-col-4">
              <ul class="usa-list--unstyled">
                <li class="usa-footer__primary-content usa-footer__primary-link">
                  <a href="{{site.baseurl}}/about/" style="color:#000000">About the Site</a>
                </li>
              </ul>
            </div>

            <div class="mobile-lg:grid-col-4 desktop:grid-col-4">
              <ul class="usa-list--unstyled">
                <li class="usa-footer__primary-content usa-footer__primary-link">
                  <a href="{{site.baseurl}}/faqs/" style="color:#000000">FAQs</a>
                </li>
              </ul>
            </div>

            <div class="mobile-lg:grid-col-4 desktop:grid-col-4">
              <ul class="usa-list--unstyled">
                <li class="usa-footer__primary-content">
                  <div class="usa-footer__primary-link">Contact Us:
                    <br>
                    <a class="custom-link-color" href="mailto:evidence@omb.eop.gov">evidence@omb.eop.gov</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="usa-footer__primary-container">
        <div class="tablet:grid-col-12">
          <nav class="usa-footer__nav" aria-label="Footer navigation bottom">
            <div class="grid-row grid-gap-12">
              <div class="mobile-lg:grid-col-4 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h3 class="usa-footer__primary-link">RELATED SITES</h3>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="https://performance.gov" target="_blank">Performance.gov</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://strategy.data.gov/" target="_blank">Strategy.data.gov</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://resources.data.gov" target="_blank">Resources.data.gov</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity.max.gov%2Flogin.action%3Fos_destination%3D%252Fpages%252Fviewpage.action%253FpageId%253D630067080" target="_blank">Federal Evidence and<br /> Evaluation Community<br /></a> <span class="font-ui-3xs">[Login required, <br />access is limited to Federal Employees]</span></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-4 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h3 class="usa-footer__primary-link">RELATED COUNCILS</h3>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="https://www.cdo.gov" target="_blank">Chief Data Officers Council</a></li>
                    <li class="usa-footer__secondary-link">Interagency Council on Statistical Policy <span class="font-ui-3xs">[website pending]</span></li>
                    <li class="usa-footer__secondary-link"><a href="https://www.fcsm.gov/" target="_blank">Federal Committee on Statistical Methodology</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://www.cio.gov" target="_blank">Chief Information Officers Council</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://www.performance.gov/pic/" target="_blank">Performance Improvement Council</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://www.fpc.gov/" target="_blank">Federal Privacy Council</a></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-4 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">                                  
                    <div class="grid-container padding-y-1 desktop:padding-0"> 
                      <div class="grid-row margin-top-1">
                        <div class="grid-col-auto">
                        {%- assign omb="/assets/images/logo-omb.png"-%}
                        <img class="usa-footer__logo-img" alt="Office of Management and Budget Logo" src="{{site.baseurl}}{{-omb-}}">
                        </div>
                        <div class="grid-col-fill txt-align-footer">
                            <a href="https://www.whitehouse.gov/omb/" target="_blank"><span>Office of Management and Budget</span></a>
                        </div>
                      </div>
                      <a class="usa-button btn-primary margin-top-1 usa-link--external-white" style="font-weight:600;" target="_blank" href="https://public.govdelivery.com/accounts/USGSA/subscriber/new?topic_id=USGSA_1068">Subscribe to Updates</a>
                      <div class="grid-row margin-top-1">
                        <div class="grid-col-fill txt-align-footer">
                            <span class="font-ui-3xs">Last updated on October 27, 2022</span>
                        </div>
                      </div>
                    </div>
                </section>
              </div>
            </div>
          </nav>
        </div>
      </div>
  </div>
  <script src="{{site.baseurl}}/assets/js/isotope.pkgd.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/isotope.settings.js"></script>
</footer>

<div id="ogp-identifier" class="usa-identifier">
  <section
    class="usa-identifier__section usa-identifier__section--masthead"
    aria-label="Agency identifier,"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__identity" aria-label="Agency description">
        <p class="usa-identifier__identity-domain">Evaluation.gov</p>
        <p class="usa-identifier__identity-disclaimer">
          An official website of the Federal Government</a>
        </p>
      </div>
    </div>
  </section>
  <nav
    class="usa-identifier__section usa-identifier__section--required-links"
    aria-label="Important links,,"
  >
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        <li class="usa-identifier__required-links-item">
          <a href="https://www.whitehouse.gov/omb/" class="usa-identifier__required-link usa-link">About OMB</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/website-information/accessibility-aids" class="usa-identifier__required-link usa-link">Accessibility support</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" class="usa-identifier__required-link usa-link">FOIA requests</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002" class="usa-identifier__required-link usa-link">No FEAR Act data</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsaig.gov/" class="usa-identifier__required-link usa-link">Office of the Inspector General</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/reference/reports/budget-performance" class="usa-identifier__required-link usa-link">Performance reports</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/website-information/website-policies" class="usa-identifier__required-link usa-link">Privacy policy</a>
        </li>
      </ul>
    </div>
  </nav>
  <section
    class="usa-identifier__section usa-identifier__section--usagov"
    aria-label="U.S. government information and services,,"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">
        Looking for U.S. government information and services?
      </div>
      <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
    </div>
  </section>
</div>
