<footer class="usa-footer usa-footer--big">
  <div class="usa-footer__primary-section bg-base-lightest">
    <div class="usa-footer__primary-container">
      <div class="tablet:grid-col-12">
        <nav class="usa-footer__nav" aria-label="Footer navigation top">
          <ul class="grid-row grid-gap-12">
            <li class="mobile-lg:grid-col-6 desktop:grid-col-4 usa-footer__primary-content usa-footer__primary-link">
              <a href="{{site.baseurl}}/about/" style="color:#000000">About the Site</a>
            </li>
            <li class="mobile-lg:grid-col-6 desktop:grid-col-4 usa-footer__primary-content usa-footer__primary-link">
              <a href="{{site.baseurl}}/faqs/" style="color:#000000">FAQs</a>
            </li>
            <li class="mobile-lg:grid-col-6 desktop:grid-col-4 usa-footer__primary-content">
              <div class="usa-footer__primary-link">Contact Us:
                <br>
                <a class="custom-link-color" href="mailto:evidence@omb.eop.gov">evidence@omb.eop.gov</a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="usa-footer__primary-container">
        <div class="tablet:grid-col-12">
          <nav class="usa-footer__nav" aria-label="Footer navigation bottom">
            <div class="grid-row grid-gap-12">
              <div class="mobile-lg:grid-col-4 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">RELATED SITES</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="https://performance.gov">Performance.gov</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://strategy.data.gov/">Strategy.data.gov</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://resources.data.gov">Resources.data.gov</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity.max.gov%2Flogin.action%3Fos_destination%3D%252Fpages%252Fviewpage.action%253FpageId%253D630067080">Evidence and Evaluation Community</a></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-4 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">RELATED COUNCILS</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="https://www.cdo.gov">CDO Council</a></li>
                    <li class="usa-footer__secondary-link">ICSP [website pending]</li>
                    <li class="usa-footer__secondary-link"><a href="https://nces.ed.gov/fcsm/">FCSM</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://www.cio.gov">CIO Council</a></li>
                    <li class="usa-footer__secondary-link">Performance Improvement Council<br /> [Website Pending]</li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-4 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">                                  
                    <div class="grid-container padding-y-1 desktop:padding-0"> 
                      <div class="grid-row">
                        <div class="grid-col-auto">
                          {%- assign gsa="/assets/images/logo-gsa.png"-%}
                        <img class="usa-footer__logo-img" alt="General Service Administration Logo" src="{{site.baseurl}}{{-gsa-}}"> 
                        </div>
                        <div class="grid-col-fill txt-align-footer">
                          <span>General Services Administration</span>
                        </div>
                      </div>
                    
                      <div class="grid-row margin-top-1">
                        <div class="grid-col-auto">
                        {%- assign omb="/assets/images/logo-omb.png"-%}
                        <img class="usa-footer__logo-img" alt="Office of Management and Budget Logo" src="{{site.baseurl}}{{-omb-}}">
                        </div>
                        <div class="grid-col-fill txt-align-footer">
                            <span>Office of Management and Budget</span>
                        </div>
                      </div>
                    </div>
                </section>
              </div>
            </div>
          </nav>
        </div>
      </div>
  </div>
  <script src="{{site.baseurl}}/assets/js/isotope.pkgd.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/isotope.settings.js"></script>
</footer>