{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<div class="margin-bottom-4 usa-hero">   
  <div class="grid-container">  
    <div class="grid-row grid-gap usa-hero-content shadow-5 padding-2" style="margin-left:0px;">
      <div class="grid-col-12">
        <div class="priority-tag-line">
          <h1 class="margin-0 font-ui-2xl text-ink text-primary">Welcome</h1>
        </div>
        <div>
          <p class="margin-0 text-ink">Welcome to Evaluation.gov, the home for Federal program evaluation and the Evaluation Officer Council. Evaluation.gov brings together the plans and activities that drive evaluation efforts across the Federal Government.</p>
        </div>
      </div>
      <div class="mobile-lg:grid-col padding-2">
        <a class="usa-button btn-primary border-0 padding-x-4"
          href="{{site.baseurl}}/about/" aria-label="Evaluation.gov">Read More</a>
      </div>
    </div>
  
  </div>
</div>