{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<div class="margin-bottom-4 usa-hero padding-top-2 padding-bottom-2">   
  <div class="grid-container">  
    <div class="grid-row grid-gap usa-hero-content" style="margin-left:0px;">
      <div class="grid-col-12">
        <div class="priority-tag-line">
          <h1 class="margin-0 font-ui-2xl text-ink text-primary">Welcome</h1>
        </div>
        <div>
          <p class="margin-0 text-ink text-bold">Welcome to Evaluation.gov, the home for Federal program evaluation and the Evaluation Officer Council. This site is a central location for the agency plans and policies that guide evaluation efforts across the Federal government and serves as a resource to support and build the Federal evaluation community.</p>
        </div>
      </div>
      <div class="mobile-lg:grid-col padding-2">
        <a class="text-no-underline usa-button border-0 padding-x-4 bg-primary-darker"
          href="{{site.baseurl}}/resources/">Read More</a>
      </div>
    </div>
  
  </div>
</div>