{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list">
  <div class="grid-container padding-bottom-4">
    <div class="flex-align-center">
      <div class="text-center text-primary">
        <h2>News & Highlights</h2>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <img class="usa-media-block__img circle-card" alt="" src="{{site.baseurl}}/assets/images/highlight-images/welcome-post-DE-circle.png">
        <div class="usa-media-block__body">          
          <a class="text-no-underline border-0" href="{{site.baseurl}}/2021-08-25-evaluation-gov/">
            <h3 class="usa-graphic-list__heading text-base">Welcome to Evaluation.gov</h3>
          </a>
          <p class="text-italic margin-0">By Diana, EOC Council Chair August 25, 2020</p>
          <p>Welcome to Evaluation.gov, the home for Federal program evaluation and the Evaluation Officer Council. </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <img class="usa-media-block__img circle-card" alt="" src="{{site.baseurl}}/assets/images/highlight-images/Danny-post-circle.png">
        <div class="usa-media-block__body">
          <a class="text-no-underline border-0" href="{{site.baseurl}}/2020-08-24-advance-our-priorities/">
            <h3 class="usa-graphic-list__heading text-base">Using Evaluation to Advance Our Priorities</h3>
          </a>
          <p class="text-italic margin-0">By Danny Yagan August 24, 2020</p>
          <p>As this Administration works to address complex and urgent challenges facing our country, evaluation is necessary for answering key questions about what works and how we can improve, and is critical to finding effective solutions.</p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <img class="usa-media-block__img circle-card" alt="" src="{{site.baseurl}}/assets/images/highlight-images/EO-post-circle.png">
        <div class="usa-media-block__body">
          <a class="text-no-underline border-0" href="{{site.baseurl}}/2020-08-23-implementing-the-evidence-act/">
            <h3 class="usa-graphic-list__heading text-base">An Insider’s View on Implementing the Evidence Act</h3>
          </a>
          <p class="text-italic margin-0">By Matt Soldner, EOC Officer August 23, 2020</p>
          <p>As the Evaluation Officer for the Department of Education (ED) and member of the Evaluation Officer Council, I have been privileged to help make the vision of the Evidence Act a reality.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <img class="usa-media-block__img circle-card" alt="" src="{{site.baseurl}}/assets/images/highlight-images/ICEP-post-JH.png">
        <div class="usa-media-block__body">
          <a class="text-no-underline border-0" href="{{site.baseurl}}/2020-08-22-council-on-evaluation-policy/">
            <h3 class="usa-graphic-list__heading text-base">Another Council? Why an Interagency Council on Evaluation Policy</h3>
          </a>
          <p class="text-italic margin-0">By First last name, EOC Officer August 22, 2020</p>
          <p>The Foundations for Evidence-Based Policymaking Act of 2018 (Evidence Act) was a culmination of years of efforts to set evaluation on par with statistics and data as necessary for ensuring federal policies are built on strong evidence.</p>
        </div>
      </div>
    </div>

    <div class="text-center"><a class="text-no-underline usa-button border-0 padding-x-6 bg-primary-darker"
        href="{{site.baseurl}}/news/">See All</a>
    </div>

  </div>
</section>

<div class="section-divider">
</div>