<!--***********buttons for News page*********************************************-->

<div class="usa-media-block tablet:grid-col-3">
    <a class="usa-button btn-primary margin-bottom-2" href="{{ site.baseurl }}/resources/#subject=*&role=*&status=*">Reset Filter</a>
    <nav id="filter" class="filters" aria-label="filter menu">     
        <h2 class="filter-title font-sans-sm">Filter by Tags</h2>
        <ul class="filter-list" data-filter-group="subject">
            <li><a aria-label="Filter by Type: Evaluation/Standards" role="link" href="javascript:void(0)" data-filter=".evaluation-standards">Evaluation/Standards</a></li>
            <li><a aria-label="Filter by Type: Statistics" role="link" href="javascript:void(0)" data-filter=".statistics">Statistics</a></li>
            <li><a aria-label="Filter by Type: Budget Clearinghouse" role="link" href="javascript:void(0)" data-filter=".clearinghouse">Clearinghouse</a></li>
        </ul>     
    </nav>
</div>
