<!--********Generates resource catalog items. Individual cards live in the in the _resources folder**************-->

<div class="usa-media-block tablet:grid-col-9">
    <p class="filter-count itm-tag margin-top-0 text-gray-50 text-thin count"></p>
    <div class="resources">
               {% assign resources = site.resources | sort: 'year' | reverse %}
                {% for resource in resources %}
                        <div class="tablet:grid-col-4 grid-spacing policy {{ resource.filters }}" >
                            
                            <!-- adds star icon on new resources for 30 days -->
                            {% if resource.post-date %}
                                {% assign days = 30 | times: 24 | times: 60 | times: 60 %}
                                {% assign end_date = resource.post-date | date: '%s' | plus: days %}
                                {% assign today_date = 'now' | date: '%s' | plus: 0 %}
                                {% if today_date < end_date %}
                                <img class="new-resource-icon" src="{{ site.baseurl }}/assets/images/star.svg" alt="an icon for newly posted resource">
                                {% endif %}
                            {% endif %}

                            <!--sets border logic statements for resources-->
                            {% if resource.filters contains 'legislation' %}
                            <div class="shadow-1 legislation-border">
                                {% endif %}
                            {% if resource.filters contains 'guidance' %}
                            <div class="shadow-1 guidance-border">
                                {% endif %}
                                {% if resource.filters contains 'report' %}
                                <div class="shadow-1 report-border">
                                {% endif %}
                                {% if resource.filters contains 'budget-discussions' %}
                                <div class="shadow-1 budget-discussions-border">
                                    {% endif %}
                                    {% if resource.filters contains 'evidence-clearinghouse' %}
                                    <div class="shadow-1 evidence-clearinghouse-border ">
                                        {% endif %}
                                        {% if resource.filters contains 'quick-reference' %}
                                        <div class="shadow-1 quick-reference-border ">
                                            {% endif %}
        
                                            <div class="text-container">
                                                 {% if resource.filters contains 'legislation' %}
                                                <span class="card-tag">Legislation</span>
                                                {% endif %}
                                                {% if resource.filters contains 'guidance' %}
                                                <span class="card-tag">Guidance</span>
                                                {% endif %}
                                                {% if resource.filters contains 'budget-discussions' %}
                                                <span class="card-tag">Budget Discussion</span>
                                                {% endif %}
                                                {% if resource.filters contains 'evidence-clearinghouse' %}
                                                <span class="card-tag">Evidence Clearinghouse</span>
                                                {% endif %}
                                                {% if resource.filters contains 'quick-reference' %}
                                                <span class="card-tag">Quick Reference</span>
                                                {% endif %}
                                                {% if resource.filters contains 'report' %}
                                                <span class="card-tag">Report</span>
                                                {% endif %}
                                         
                                                {% if resource.external_url %}
                                                <a class="anchor-fill text-ink text-no-underline" href="http://{{ resource.external_url }}" aria-label="{{ resource.aria-label }} link (opens in a new window)" target="_blank">
                                                <p class="title-resources">{{ resource.title }}</p>
                                                </a>
                                                {% endif %}

                                                {% if resource.permalink %}
                                                <p class="title-resources"><a class="text-ink text-no-underline" href="{{ site.baseurl }}{{ resource.permalink }}">{{ resource.title }}</a></p>
                                                {% endif %}
                                                {% if resource.doc-link %}
                                                <a class="anchor-fill text-ink text-no-underline" href="{{ site.baseurl }}/{{ resource.doc-link }}" aria-label="{{ resource.aria-label }} link (opens in a new window)" target="_blank">
                                                <p class="title-resources">{{ resource.title }}</p>
                                                </a>
                                                {% endif %}
                                                                      
                                                <!--for 508 accessibility-->
                                            </div>
                                        </div>
        
                                    </div>			
                {% endfor %}
 
    </div>
</div>
