<!--***********buttons for resource catalog page*********************************************-->

<div class="usa-media-block tablet:grid-col-3">
    <a class="usa-button usa-button--accent-cool margin-bottom-2" href="{{ site.baseurl }}/resources/#subject=*&role=*&status=*">Reset Filter</a>

    <nav id="filter" class="filters" aria-label="filter menu">
        <h2 class="filter-title font-sans-sm">Filter by Resource Type</h2>
        <ul class="filter-list" data-filter-group="resource">
            <li><a aria-label="Filter by Type: Legislation" role="link" href="javascript:void(0)" data-filter=".legislation">Legislation</a></li>
            <li><a aria-label="Filter by Type: Guidance" role="link" href="javascript:void(0)" data-filter=".guidance">Guidance</a></li>
            <li><a aria-label="Filter by Type: Budget Discussions" role="link" href="javascript:void(0)" data-filter=".budget-discussions">Budget Discussions</a></li>
            <li><a aria-label="Filter by Type: Evidence Clearinghouse" role="link" href="javascript:void(0)" data-filter=".evidence-clearinghouse">Evidence Clearinghouse</a></li>
            <li><a aria-label="Filter by Type: Quick Reference" role="link" href="javascript:void(0)" data-filter=".quick-reference">Quick Reference</a></li>
        </ul>

        <h2 class="filter-title font-sans-sm">Filter by Source</h2>
        <ul class="filter-list" data-filter-group="role">
            <li><a aria-label="Filter by Type: Congress" role="link" href="javascript:void(0)" data-filter=".congress">Congress</a></li>
            <li><a aria-label="Filter by Type: OMB" role="link" href="javascript:void(0)" data-filter=".omb">OMB</a></li>
            <li><a aria-label="Filter by Type: Federal Agency" role="link" href="javascript:void(0)" data-filter=".federal-agency">Federal Agency</a></li>
            <li><a aria-label="Filter by Type: Evidence External" role="link" href="javascript:void(0)" data-filter=".external">External</a></li>
        </ul>

        <h2 class="filter-title font-sans-sm">Filter by Content Tags</h2>
        <ul class="filter-list" data-filter-group="content">
            <li><a aria-label="Filter by Type: Evaluation/Standards" role="link" href="javascript:void(0)" data-filter=".evaluation-standards">Evaluation/Standards</a></li>
            <li><a aria-label="Filter by Type: Statistics" role="link" href="javascript:void(0)" data-filter=".statistics">Statistics</a></li>
            <li><a aria-label="Filter by Type: Budget Clearinghouse" role="link" href="javascript:void(0)" data-filter=".clearinghouse">Clearinghouse</a></li>
        </ul>
        
        <h2 class="filter-title font-sans-sm">Filter by Year</h2>
        <ul class="filter-list" data-filter-group="year">
            <li><a aria-label="Filter by Type: 2001" role="link" href="javascript:void(0)" data-filter=".2001">2001</a></li>
            <li><a aria-label="Filter by Type: 2002" role="link" href="javascript:void(0)" data-filter=".2002">2002</a></li>
            <li><a aria-label="Filter by Type: 2010" role="link" href="javascript:void(0)" data-filter=".2010">2010</a></li>
            <li><a aria-label="Filter by Type: 2011" role="link" href="javascript:void(0)" data-filter=".2011">2011</a></li>
            <li><a aria-label="Filter by Type: 2012" role="link" href="javascript:void(0)" data-filter=".2012">2012</a></li>
            <li><a aria-label="Filter by Type: 2013" role="link" href="javascript:void(0)" data-filter=".2013">2013</a></li>
            <li><a aria-label="Filter by Type: 2014" role="link" href="javascript:void(0)" data-filter=".2014">2014</a></li>
            <li><a aria-label="Filter by Type: 2015" role="link" href="javascript:void(0)" data-filter=".2015">2015</a></li>
            <li><a aria-label="Filter by Type: 2016" role="link" href="javascript:void(0)" data-filter=".2016">2016</a></li>
            <li><a aria-label="Filter by Type: 2017" role="link" href="javascript:void(0)" data-filter=".2017">2017</a></li>
            <li><a aria-label="Filter by Type: 2018" role="link" href="javascript:void(0)" data-filter=".2018">2018</a></li>
            <li><a aria-label="Filter by Type: 2019" role="link" href="javascript:void(0)" data-filter=".2019">2019</a></li>
            <li><a aria-label="Filter by Type: 2020" role="link" href="javascript:void(0)" data-filter=".2020">2020</a></li>
        </ul>
    </nav>
</div>
