{% comment %}
This appears at the top of the page letting the user know it's an official government website
{% endcomment %}

<nav aria-label="Secondary navigation,">
        <ul class="usa-sidenav">
            <li class="usa-sidenav__item">
                <a href="javascript:void(0);" class="usa-current">Current page</a>
            </li><li class="usa-sidenav__item">
            <a href="javascript:void(0);">Parent link</a>
        </li><li class="usa-sidenav__item">
            <a href="javascript:void(0);">Parent link</a>
        </li>
        </ul>
</nav>
