{% comment %}
This appears at the top of the page letting the user know it's an official government website
{% endcomment %}

<nav aria-label="Secondary navigation,">
        <ul class="usa-sidenav">
            <li class="usa-sidenav__item">
                <a href="{{site.baseurl}}/evidence-plans/summary/" class="usa-current">Summary</a>
            </li><li class="usa-sidenav__item">
            <a href="{{site.baseurl}}/evidence-plans/learning-agenda/">Learning Agenda</a>
        </li><li class="usa-sidenav__item">
            <a href="{{site.baseurl}}/evidence-plans/capacity-assessments/">Capacity Assessments</a>
        </li>
            <li class="usa-sidenav__item">
                <a href="{{site.baseurl}}/evidence-plans/annual-evaluation-plan/">Annual evaluation plans</a>
            </li>
            <li class="usa-sidenav__item">
                <a href="{{site.baseurl}}/evidence-plans/evaluation-policies/">Evaluation policy</a>
            </li>

        </ul>
</nav>
