{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<div class="top">
  <div class="grid-container">
    <div class="carousel grid-container backgroundCover">
      <div class="item">
        <p class="font-ui-lg margin-top-0">Our Vision</p>
        <div class="grid-row padding-bottom-7">
          <div class="desktop:grid-col-10">
            <p class="font-ui-md margin-top-0 line-height-mono-4">To provide a centralized home for
              information about evaluation in the Federal Government, with an emphasis on work responsive to the
              requirements of the Evidence Act: what is required, who is responsible, what agencies are doing, and
              what
              the government is asking of others.
            </p>
          </div>
          <div class="desktop:grid-col-2 padding-2 text-center">
            <a class="text-no-underline text-primary usa-button bg-white border-0 padding-x-4"
              href="{{site.baseurl}}/about/">Explore</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="grid-row padding-bottom-7">
          <p class="font-ui-lg margin-top-0">Evaluation Officer Council</p>
          <div class="desktop:grid-col-10">
            <p class="font-ui-md margin-top-0 line-height-mono-4">The Evaluation Officer Council is
              comprised of the Evaluation Officers designated by the 24 CFO Act agencies. It provides a forum to
              exchange information, consult with and advise OMB on issues that affect evaluation functions, coordinate
              and collaborate on areas of common interest including Evidence Act implementation, and serve in a
              leadership role for the broader Federal evaluation community.
            </p>
          </div>
          <div class="desktop:grid-col-2 padding-2 text-center">
            <a class="text-no-underline text-primary usa-button bg-white border-0 padding-x-4"
              href="{{site.baseurl}}/evaluation-officer-council/">Explore</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="grid-row padding-bottom-7">
          <p class="font-ui-lg margin-top-0">The Foundations for Evidence-Based Policymaking Act of 2018
          </p>
          <div class="desktop:grid-col-10">
            <p class="font-ui-md margin-top-0 line-height-mono-4">The Foundations for Evidence-Based
              Policymaking Act of 2018 ("Evidence Act"), signed into law on January 14, 2019, emphasizes collaboration
              and coordination to advance data and evidence-building functions in the Federal Government by
              statutorily
              mandating Federal evidence-building activities, open government data, and confidential information
              protection and statistical efficiency.</p>
          </div>
          <div class="desktop:grid-col-2 padding-2 text-center">
            <a class="text-no-underline text-primary usa-button bg-white border-0 padding-x-4"
              href="{{site.baseurl}}/resources/">Explore</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>