{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<div class="top">
  <div class="grid-container">
    <div class="carousel grid-container backgroundCover">
      <div class="item">
        <div class="grid-row padding-bottom-7">
          <p class="font-ui-lg margin-top-0"><strong>Year of Evidence for Action</strong>
          </p>
          <div class="desktop:grid-col-10">
            <p class="font-ui-md margin-top-0 line-height-mono-4">During this year, the Administration will share leading practices from Federal Agencies to generate and use evidence to advance better, more equitable outcomes for all of America, while institutionalizing a culture of evidence-based policymaking and creating new pathways for collaboration between evidence communities inside and outside of the Federal Government.</p>
          </div>
          <div class="desktop:grid-col-2 padding-2 text-center">
            <a class="text-no-underline usa-button bg-white border-0 padding-x-4" style="color:#005ea2"
              href="{{site.baseurl}}/2022-4-7-year-of-evidence-for-action/">Explore</a>
          </div>
        </div>
      </div>
      <div class="item">
        <p class="font-ui-lg margin-top-0"><strong>Our Vision</strong></p>
        <div class="grid-row padding-bottom-7">
          <div class="desktop:grid-col-10">
            <p class="font-ui-md margin-top-0 line-height-mono-4">Evaluation plays a critical role in evidence-based policymaking, helping agencies determine what is and is not working well and answer questions regarding why, for whom, and under what circumstances. Evaluation.gov provides a central home to learn about the Federal evaluation community and the activities it undertakes.
            </p>
          </div>
          <div class="desktop:grid-col-2 padding-2 text-center">
            <a class="text-no-underline usa-button bg-white border-0 padding-x-4" style="color:#005ea2"
              href="{{site.baseurl}}/about/">Explore</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="grid-row padding-bottom-7">
          <p class="font-ui-lg margin-top-0"><strong>Evaluation Officer Council</strong></p>
          <div class="desktop:grid-col-10">
            <p class="font-ui-md margin-top-0 line-height-mono-4">The Evaluation Officer Council is
              comprised of the Evaluation Officers designated by the 24 CFO Act agencies. It provides a forum to
              exchange information, consult with and advise OMB on issues that affect evaluation functions, coordinate
              and collaborate on areas of common interest including Evidence Act implementation, and serve in a
              leadership role for the broader Federal evaluation community.
            </p>
          </div>
          <div class="desktop:grid-col-2 padding-2 text-center">
            <a class="text-no-underline usa-button bg-white border-0 padding-x-4" style="color:#005ea2"
              href="{{site.baseurl}}/evaluation-officer-council/">Explore</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>