/****************************styling for resource catalog******************************/
.no-style {
  text-decoration: none;
  color: black;
}
.anchor-fill{
  width: inherit;
  display: block;
  height: 70%;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.grid-spacing {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 10px 0px 0px;

}

.filters {

}

.filters ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filters li {
  margin: 0 2px 2px 0;
}

.big {
  font-size: 20px;
}

.filters a {
  display: block;
  padding: .5em 1em;
  font-size: 80%;
  border: solid 1px hsl(0, 0%, 50%);
  color: #333;
  text-decoration: none;
  background: white;
}

.text-container {
  overflow:hidden;
}

.filters a:hover {
  outline: 2px solid hsl(0, 0%, 50%);
}

a.checked {
  background: #595959;
  color: white;
}

.legislation-border {
  border-top: solid 4px #f2938c;
}

.guidance-border {
  border-top: solid 4px #97d4ea
}


.budget-discussions-border {
  border-top: solid 4px #07648d;
}

.evidence-clearinghouse-border {
  border-top: solid 4px #92d9bb;
}

.quick-reference-border {
  border-top: solid 4px #8889db;
}

.report-border {
  border-top: solid 4px #F79520;
}

.opportunity-border {
  border-top: solid 4px #0a9805;
}

.title-resources {
  font-size: 14.2px;
  line-height: 20px;
  font-weight: 500; 
  margin-left: 2px;
}

//star icon for new resources
.new-resource-icon {
  position:absolute; 
  top: 7px; 
  right: 12px; 
  max-width: 15%;
}
  