/*
  Customize US Web Design System SASS
  See all at designsystem.digital.gov/documentation/settings
*/

// Example - Override the background image in the hero component using SASS:
// $theme-hero-image: asset_path("whatever-the-default-is.png");

@import "uswds";
// Example - Override the background image in the hero component using CSS:
.usa-hero {
  background-image: url(asset_path("welcome_image.jpg"));
  background-size: cover;
  background-repeat: no-repeat;
}

.usa-hero-content {
  max-width: 40rem;
}

html {
  font-size: 1.06rem;
  line-height: 1.5;
}

/*
  Add your SASS/CSS here
*/

// default mode hide banner
.usa-banner__content {
  display: hidden;
}

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}

.usa-nav {
  box-shadow: 5px 5px 3px #888888;
}

.usa-megamenu.usa-nav__submenu::after {
  background: none;
}

.usa-megamenu.usa-nav__submenu::before {
  background: none;
}

@media screen and (max-width: 640px) {
  .usa-logo img {
    max-width: 50%;
  }
}

.custom-link-color {
  color: #00769c;
}

.usa-footer--big .usa-footer__primary-link {
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}

.margin-right-05 {
  margin-right: 1.25rem;
}

.backgroundCover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: url(asset_path("vision_image.jpg"));
  background-size: cover;
}

.top .usa-button:visited {
  color: #2a4294;
}
.top .usa-button:hover {
  color: #fff;
}

.top {
  padding-bottom: 30px;
  background: linear-gradient(to bottom, #ffffff, #f0f0f0);
}

.carousel {
  padding: 40px;
  border-radius: 30px;
  color: #fff;
  padding-bottom: 20px;
}

.carousel__track {
  color: #ffffff;
  text-align: left;
}

.slick-prev {
  left: 5px;
}
.slick-next {
  right: 5px;
}

.slick-dots {
  position: inherit;
  bottom: 15px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.bottom .slick-dots {
  text-align: center;
  right: 0;
}
.slick-dots li button:before {
  color: #fff;
  font-size: 15px;
}

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots li.slick-active button:before {
  color: #ffffff;
}

.container__leadership .border-1px {
  border-color: #e6e6e2;
}
@media screen and (max-width: 640px) {
  .container__leadership .card__leadership {
    margin-bottom: 2rem;
  }
  .container__leadership .card__leadership:last-child {
    margin-bottom: 0;
  }
}
.container__leadership .left {
  width: 30%;
  float: left;
  height: 135px;
}
.container__leadership .left.card__image--seal {
  height: 115px;
}
.container__leadership .left img {
  width: 130px;
  max-width: 100%;
}
.container__leadership .left img.card__image--seal {
  height: 82px;
  width: auto;
}
.container__leadership .right {
  width: 70%;
  height: 135px;
  float: right;
}
.container__leadership .name {
  font-weight: bold;
}
.container__leadership .title,
.container__leadership .role,
.container__leadership .council {
  font-size: 13px;
  display: block;
}
.container__leadership .role {
  font-style: italic;
}
.container__leadership .title {
  margin-top: 0.75rem;
}
.container__leadership .usa-list--unstyled {
  text-indent: -1em;
  padding-left: 1em;
  height: 7.5em;
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .container__leadership .usa-list--unstyled {
    height: 10em;
  }
}
.container__leadership .usa-list--unstyled > li:first-child {
  margin-top: 0;
}
.container__leadership .usa-list--unstyled > li {
  margin-top: 0.25em;
}
.card__members .right,
.card__members .left {
  height: 85px;
  @media screen and (max-width: 768px) {
    height: 115px;
  }
}
@media screen and (max-width: 768px) {
  img {
    max-width: 33%;
  }
}

.section-divider {
  min-height: 100px;
  background: linear-gradient(to bottom, #f0f0f0 15%, #ffffff 100%);
}

.bg-gradient {
  background: #13268b;
  background: linear-gradient(52deg, #162e51 0%,  #28a0cb 100%);
}
