//custom scss files
@import "../../_sass/_resources";
@import "../../_sass/_news";

/*-------------------------------------*/
.eoc-logo-size {
  width: 60%;
}
.usa-hero {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url(../assets/images/hero-img-13.png);
  background-position: center;
  background-size: cover;
} 
.usa-hero-content {
    max-width: 30rem;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0.7rem;
}
.backgroundCover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: url(../assets/images/vision_image-1.png);
  background-size: cover;
}
.slick-dots {
  position: inherit;
  bottom: 15px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: -45px;
}
.btn-primary, .search-btn {
  background-color: #0d7ea2;
}
.search-btn:hover {
  background-color: #07648d;
}
.btn-primary:hover {
  background-color: #07648d;
}
.usa-footer__return-to-top a {
  color: #005ea2;
  text-decoration: underline;
}
.bg-gradient {
  background: linear-gradient(52deg, #162e51 25%, #28a0cb 100%);
  color: #fff;
}
.usa-footer__primary-link {
  cursor: pointer;
}
.card-tag {
  font-size: .9rem;
  margin-top: .2em;
  margin-bottom: .15em;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #323a45;
 }
 .pill-btn {
  text-decoration:none;
  background-color:#ffffff;
  color:#212121;
  padding:10px;
  box-shadow: inset 0 0 0 2px #2e8367;
  border-radius:25px;
 }
 a.pill-btn:hover, a.pill-btn:active {
   color: #0d7ea2;
   text-decoration: underline;
  }
  .pill-btn-1 {
    text-decoration:none;
    background-color:#ffffff;
    color:#212121;
    padding:10px;
    box-shadow: inset 0 0 0 2px #2e8367;
    border-radius:25px;
    pointer-events: none;
   }
 .text-container {
  height: 14rem;
 }
 .shadow-1 {
   padding: 15px;
 }
 .link-type {
  font-size: .9rem;
  font-weight: 700;
  color: #76766a;
 }
 .usa-graphic-list .usa-graphic-list__row:last-child .usa-media-block {
  margin-bottom: 0;
  display: block;
}
.usa-footer__logo-img {
  max-width: 4rem;
}
.txt-align-footer {
  padding-top: 1.2rem;
  padding-left: 0.6rem;
}
.left {
  width: 15%;
  float: left;
  height: 65px;
}
.right {
  width: 85%;
  float: right;
  height: 70px;
}
.name {
  font-size: 14px;
  font-weight: bold;
}
.photo {
  width: 85%;
  object-fit: cover;
}
.bg-white {
  background-color: #ffffff;
}
/*
.bg-white:hover {
  background-color: #ffffff;
  color: #005ea2;
}
*/

.sml-margin {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.circle-card {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}
.agency-border-top {
  border-top:0.5rem solid #0d7ea2;
}

.eval-pol-agcy-title {
  font-size: 1.06rem;
  font-weight: 600;
  margin-bottom: -0.75rem;
  line-height: 1.25rem;
 }
 .eval-pol-agcy-link {
  font-size: .9rem;
  margin-bottom: -.6rem;
  line-height: 1.1rem;
 }
.white-background {
  background: #ffffff 0% 0% no-repeat padding-box;
  /*box-shadow: 0px 0px 80px #00000012;*/
  border-radius: 0px 0px 10px 10px;
  opacity: 1;
}
.rel-hr-border {
  border-top: 1px solid #e6e6e6;
  margin-top: 25px;
}
.agency-evidence-plans {
  width: 30%;
  margin-right: 3%;
  border-top: 0.5rem solid #0d7ea2;
}
.agency-office-logo {
  margin: auto;
  margin-left: 0.5rem;
}
.office-logo {
  margin-top: 0.8rem;
  max-width: 90%;
}
.office-links li {
  padding-left: 1rem;
}
.agency-link-title {
  height: 55px;
  margin-bottom: 0.5rem;
}
.eoc-link {
  color: #71767a;
}
.agency-seal {
  width: 75%;
}
.agency-txt-logo {
  max-width: 100%;
}
.usa-tooltip__body {
  background-color: #5c5c5c;
}
/* ---------------- IPAD CSS ----------------------- */
@media (max-width: 768px) {
  .text-container {
    height: 18rem;
   }
   .txt-align-footer {
    padding-top: .5rem;
    padding-left: 0.6rem;
   }
   .left {
    width: 30%;
    float: left;
    height: 65px;
  }
  .right {
    width: 70%;
    float: right;
    height: 70px;
  }
  .photo {
    width: 80%;
    object-fit: cover;
  }
  .agency-seal {
    max-width: 75%;
  }
  .agency-txt-logo {
    max-width: 100%;
  }
  .office-logo {
    margin-top: 0.8rem;
    max-width: 90%;
  }
  .text-container {
    height: 18rem;
   }
}
/* ---------------- MOBILE CSS ----------------------- */
@media screen and (max-width: 640px) {
  .text-container {
    height: 12rem;
   }
  .count {
    margin-top: 1.06rem;
  }
  .txt-align-footer {
    padding-top: 1.5rem;
    padding-left: 0.6rem;
  }
  .left {
    width: 30%;
    float: left;
    height: 65px;
  }
  .right {
    width: 70%;
    float: right;
    height: 70px;
  }
  .photo {
    width: 80%;
    object-fit: cover;
 }
 .agency-evidence-plans {
    width: 100%;
  }
  .agency-seal {
    max-width: 50%;
  }
  .agency-txt-logo {
    max-width: 60%;
  }
}

@media screen and (max-width: 1025px) {
  
} 