---
layout: default
---

{% comment %}
This is used in blog posts. The index page can be found at blog/index.html
{% endcomment %}


<section class="usa-graphic-list usa-section sml-margin bg-gradient">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="tablet:grid-col">
                <h1 class="margin-0 font-ui-2xl">Evidence Plans</h1>
            </div>
        </div>
    </div>
</section>
<section class="usa-graphic_list clearfix ">
    <div class="clearfix grid-container grey-back padding-top-3 padding-bottom-2">
<div class="grid-row grid-gap">
    <div class="tablet:grid-col-3">
        {% include sidenav-evidence-plans.html %}
    </div>
    <div class="tablet:grid-col-9 ">
        <h2 class="title margin-top-neg-1 margin-bottom-neg-1">{{page.title}}</h2>
        {{ content }}

        {% if page.title == 'Learning Agendas' %}
        <h2>Learning Agendas by Agency</h2>

        <div class="grid-container padding-left-0 padding-right-0">
            <div class="usa-graphic-list__row grid-row grid-gap padding-top-0">
                {% assign sorted_agencies = site.agencies| sort_natural: "agency-name" %}
                {% for annual-learning-agenda in sorted_agencies %}
                {% if annual-learning-agenda.learning-agenda %}
                <div class="tablet:grid-col-6 container margin-bottom-4">
                    <div class="">
                        <div class="grid-row">
                            <div class="tablet:grid-col-4">
                                <img class="usa-media_block-img agency-seal" src="{{site.baseurl}}/{{ annual-learning-agenda.agency-logo }}" alt="{{ annual-learning-agenda.agency-name }} logo"></div>
                            <div class="tablet:grid-col-8 margin-top-neg-1">
                                <p class="eval-pol-agcy-title">{{ annual-learning-agenda.agency-name }}</p>
                               
                                <p class="eval-pol-agcy-link"><a href="{{ annual-learning-agenda.learning-agenda }}" aria-label="{{ annual-learning-agenda.agency-name }} Evaluation Plan (opens in a new window)" target="_blank">Learning Agenda</a></p>

                            </div>

                        </div>
                    </div>
                
                </div>
                {% else %}
                <div class="tablet:grid-col-6 container margin-bottom-4">
                    <div class="">
                        <div class="grid-row">
                            <div class="tablet:grid-col-4">
                                <img class="usa-media_block-img agency-seal" src="{{site.baseurl}}/{{ annual-learning-agenda.agency-logo }}" alt="{{ annual-learning-agenda.agency-name }} logo"></div>
                            <div class="tablet:grid-col-8 margin-top-neg-1">
                                <p class="eval-pol-agcy-title">{{ annual-learning-agenda.agency-name }}</p>
                                <p class="eval-pol-agcy-link">Coming Soon</p>
                            </div>

                        </div>
                    </div>
                </div>
                {% endif %}

                
                {% endfor %}
            </div>
        </div>
        {% include additional-agencies.html %}

        {% endif %}

        {% if page.title == 'Capacity Assessments for Statistics, Research, Evaluation, and Other Analysis' %}
        <h2>Capacity Assessments by Agency</h2>

        <div class="grid-container padding-left-0 padding-right-0">
            <div class="usa-graphic-list__row grid-row grid-gap padding-top-0">
                {% assign sorted_agencies = site.agencies| sort_natural: "agency-name" %}
                {% for annual-capacity-assesment in sorted_agencies %}
                {% if annual-capacity-assesment.capacity-assesment %}
                <div class="tablet:grid-col-6 container margin-bottom-4">
                    <div class="">
                        <div class="grid-row">
                            <div class="tablet:grid-col-4">
                                <img class="usa-media_block-img agency-seal" src="{{site.baseurl}}/{{ annual-capacity-assesment.agency-logo }}" alt="{{ annual-capacity-assesment.agency-name }} logo"></div>
                            <div class="tablet:grid-col-8 margin-top-neg-1">
                                <p class="eval-pol-agcy-title">{{ annual-capacity-assesment.agency-name }}</p>
                                <p class="eval-pol-agcy-link"><a href="{{ annual-capacity-assesment.capacity-assesment }}" aria-label="{{ annual-capacity-assesment.agency-name }} Capacity Assessments (opens in a new window)" target="_blank">Capacity Assessment</a></p>
                            </div>

                        </div>
                    </div>
                </div>
                {% else %}
                <div class="tablet:grid-col-6 container margin-bottom-4">
                    <div class="">
                        <div class="grid-row">
                            <div class="tablet:grid-col-4">
                                <img class="usa-media_block-img agency-seal" src="{{site.baseurl}}/{{ annual-capacity-assesment.agency-logo }}" alt="{{ annual-capacity-assesment.agency-name }} logo"></div>
                            <div class="tablet:grid-col-8 margin-top-neg-1">
                                <p class="eval-pol-agcy-title">{{ annual-capacity-assesment.agency-name }}</p>
                                <p class="eval-pol-agcy-link">Coming Soon</p>
                            </div>

                        </div>
                    </div>
                </div>
                {% endif %}
                
                {% endfor %}
            </div>
        </div>

        {% endif %}

        {% if page.title == 'Annual Evaluation Plans' %}
            <h2>Annual Evaluation Plans by Agency</h2>

        <div class="grid-container padding-left-0 padding-right-0">
            <div class="usa-graphic-list__row grid-row grid-gap padding-top-0">
                {% assign sorted_agencies = site.agencies| sort_natural: "agency-name" %}
                {% for annual-evaluation-plans in sorted_agencies %}
                {% if annual-evaluation-plans.eval-plan %}
                <div class="tablet:grid-col-6 container margin-bottom-4">

                    <div class="">
                        <div class="grid-row">
                            <div class="tablet:grid-col-4">
                                <img class="usa-media_block-img agency-seal" src="{{site.baseurl}}/{{ annual-evaluation-plans.agency-logo }}" alt="{{ annual-evaluation-plans.alt }}">
                            </div>
                            <div class="tablet:grid-col-8 margin-top-neg-1">
                                <p class="eval-pol-agcy-title">{{ annual-evaluation-plans.agency-name }}</p>
                                {% assign evaluation_plans = annual-evaluation-plans.eval-plan | sort_natural: "name" | reverse  %}
                                {% for plan in evaluation_plans limit:3 %}
                                <p class="eval-pol-agcy-link"><a href="{{ plan.link }}" aria-label="{{ annual-evaluation-plans.agency-name }} Agency Evaluation Plan (opens in a new window)" target="_blank">{{ plan.name }}</a></p>
                                {% endfor %}
                             </div>

                        </div>
                    </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

        {% endif %}

        {% if page.title == 'Evaluation Policies' %}
        <h2>Evaluation Policy by Agency</h2>

        <div class="grid-container padding-left-0 padding-right-0">
            <div class="usa-graphic-list__row grid-row grid-gap padding-top-0">
                {% assign sorted_agencies = site.agencies| sort_natural: "agency-name" %}
                {% for evaluation-policy in sorted_agencies %}
                {% if evaluation-policy.eval-policy %}
                <div class="tablet:grid-col-6 container margin-bottom-4">
                    <div class="">
                        <div class="grid-row">
                            <div class="tablet:grid-col-4">
                                <img class="usa-media_block-img agency-seal" src="{{site.baseurl}}/{{ evaluation-policy.agency-logo }}" alt="{{ evaluation-policy.agency-name }} logo"></div>
                            <div class="tablet:grid-col-8 margin-top-neg-1">
                                <p class="eval-pol-agcy-title">{{ evaluation-policy.agency-name }}</p>
                                <p class="eval-pol-agcy-link"><a href="{{ evaluation-policy.eval-policy }}" aria-label="{{ evaluation-policy.agency-name }} Evaluation Plan (opens in a new window)" target="_blank">Evaluation Policy</a></p>
                            </div>

                        </div>
                    </div>
                </div>
                {% else %}
                <div class="tablet:grid-col-6 container margin-bottom-4">
                    <div class="">
                        <div class="grid-row">
                            <div class="tablet:grid-col-4">
                                <img class="usa-media_block-img agency-seal" src="{{site.baseurl}}/{{ evaluation-policy.agency-logo }}" alt="{{ evaluation-policy.agency-name }} logo"></div>
                            <div class="tablet:grid-col-8 margin-top-neg-1">
                                <p class="eval-pol-agcy-title">{{ evaluation-policy.agency-name }}</p>
                                <p class="eval-pol-agcy-link">Coming Soon</p>
                            </div>

                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        {% include additional-agencies.html %}

        {% endif %}

    </div>
</div>


    </div>
</section>

<style>
    #small-agency {
    width: 46.83%;
    margin: 13px;
}
@media only screen and (max-width: 639px) {
.title{
margin-top: 1.1rem;
}
}

</style>