---
layout: wide
---

{% comment %}
 This layout is being used by cross-government and other-agencies pages
 Properties required: hero, title, collection_data
{% endcomment %}

<section class="usa-graphic-list usa-section sml-margin bg-gradient">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="tablet:grid-col">
                <div class="text-white font-ui-2xl margin-bottom-0 text-bold">{{ page.hero }}</div>
            </div>
        </div>
    </div>
</section>
<div class="grid-container grey-back padding-top-3 padding-bottom-2">
<div class="grid-row grid-gap">
<div>
<h1>{{ page.title }}</h1>

<div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap padding-top-0">
        {% assign collection = site.collections | where: "label", page.collection_data | first %}
        {% for document in  collection.docs %}
        {% if document.agency-name %}
        <div class="tablet:grid-col-6 container margin-bottom-4">
            <div class="">
                <div class="grid-row">
                    <div class="tablet:grid-col-4">
                        <img class="usa-media_block-img agency-seal" src="{{site.baseurl}}/{{ document.agency-logo }}" alt="{{ document.alt }}">
                    </div>
                    <div class="tablet:grid-col-8 margin-top-neg-2">
                        <p class="eval-pol-agcy-title">{{ document.agency-name  }}</p>
                        {% if document.plan-link %}
                        <p class="eval-pol-agcy-link"><a href="{{ document.plan-link }}" aria-label="{{ document.agency-name }} Agency Evaluation Plan" target="_blank">Evaluation Policy</a></p>
                        {% endif %}
                        {% for agency-office in document.agency-offices %}
                        <p class="eval-pol-agcy-link"><a href="{{ agency-office.link }}" aria-label="{{ agency-office.name }} (opens in a new window)" target="_blank">{{ agency-office.name }}</a></p>
                        {% endfor %}
                     </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>
</div>
</div>
