---
layout: default
---

{% comment %}
This is used in blog posts. The index page can be found at blog/index.html
{% endcomment %}

<div class="usa-graphic-list usa-section bg-gradient padding-y-1">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid">

       <p><a class="text-white margin-bottom-2" href="{{ site.baseurl }}/news/" style="text-decoration:none;">❮ &nbsp; Back to News </a></p>
       <h1 class="text-accent-cool font-sans-lg margin-bottom-1 text-medium card-tag-news"> {{ page.date | date: '%B %d, %Y' }} </h1>
       <h2 class="text-white font-serif-xl margin-top-0 margin-bottom-0 text-bold"> {{ page.title}} </h2>
       <p class="text-white font-serif-md padding-bottom-0">By {{ page.author }}</p>

      </div>
    </div>
  </div>
</div>

  <div class="grid-container">
    {% assign tags = page.tags %}
    {{ content }}
    <span class="text-bold">Tags:</span>
    <ul class="tags">
      {% for tag in tags %}
      <li class="tag">{{ tag }}</li>
      {% endfor %}
    </ul>
    <p><a class="padding-top-2" href="{{ site.baseurl }}/news/" style="text-decoration:none;">❮ &nbsp; Back to News </a></p>
  </div>

